body{
  background-color: #26b8c8;
}

.buttonHome:hover {
  transition: filter 0.3s;
  filter: brightness(2);
}

.sub_titulo{
  margin-top: 24px;
  color: #041433;
  font-size: 32px;
  text-align: center;
  padding: 1rem;
  background-color: #F4F0E2;
}

.imgAws{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

