@import url("https://fonts.googleapis.com/css2? family=Antic+Slab&display=swap");

:root {
  --Brac-200: #fff8f8;
  --Verd-400: #0b945b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  /* font-family: "Antic One", cursive !important; */
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
a {
  color: inherit;
  text-decoration: none;
}
